/* Estilos para botões responsivos */
@media (max-width: 768px) {
    .panel-header button,
    .main-content .row .btn {
      position: static;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
    .main-content .position-relative {
      text-align: center;
    }
  }
  